.App {
  &-header {
    padding: 0 30px;
    border-bottom: 1px solid #CCCCCC;
    overflow: hidden;
  }
  &-logo{
    width: 60px;
    height: auto;
    float: left;
    margin-right: 15px;
  }
  &-navigation{
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        display: inline-block;
        padding: 20px 15px;
      }
    }
  }
}